body {
  text-align: center;
  margin: 0;
  font-family: "Arial", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(235, 235, 240, 0.776);
  color: rgba(25, 26, 26, 0.776);
}
